* {
  /* font-family: "Roboto", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  padding: 0px;
  margin: 0px;
  background: #ebf6e8;
  overscroll-behavior-x: none;
}

.ant-message-notice .ant-message-notice-content {
  padding: 0px;
  text-align: left;
}

.main-input .ant-input-data-count {
  font-size: 16px;
}
